<% provide(:title, 'New Optometrist Record') %>
<div class ="row">
	<%= render 'shared/phr_info' %>

	<div class="span8">
		<h2 style = "text-align: left;">New Optometrist Record</h2>
		<hr>
	</div>

	<%= form_for([@phr, @eye]) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<div class="span6">
			<%= render 'eye_form', f: f %>
		</div>
	<% end %>
	
</div>