<div class="center hero-unit">
  <h2 style="color:black;">Welcome to WebPHR</h2>

  <h2 style="font-size:1.25em;">
    This is the home page for our Capstone Project.
  </h2>

  <%= link_to "Sign up now!", signup_path, "data-no-turbolink" => true, class: "btn btn-large btn-secondary" %>
</div>
