<% provide(:title, 'Privacy and Security') %>
<h2>Privacy & Security Policies</h2>
<hr>
<h3>Privacy Policy</h3>
<p>
  Breakfast Privacy Policy.
</p>
<h3>Security Policy</h3>
<p>
  Breakfast Security Policy.
</p>