<% provide(:title, 'Privacy and Security') %>
<h1>Privacy & Security Policies</h1>
<h3>Privacy Policy</h3>
<p>
  Capstone Privacy Policy.
</p>
<h3>Security Policy</h3>
<p>
  Capstone Security Policy.
</p>