<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Breakfast.com Activation code</h1>
    <p>
      Activate your account by following this link: <br>
      <%= activate_url %>
      and entering your email: <br>
      <%= @user.email %> <br>
      as well as the following activation code: <br>
      <%= @user.activation_token %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>