<div class="row">
	<%= link_to gravatar_for(current_user, size: 52), current_user %>
	<aside class="span4">
	    <section>
		    <h1>
		    	<%= current_user.name %>
			</h1>
			<span>
				<%= link_to "View my profile", current_user %>
			</span>
			<span>
				<%= pluralize(current_user.phrs.count, "PHR") %>
			</span>
		</section>
	</aside>
</div>