<% provide(:title, @phr.first_name) %>


<div class ="row">

<div class="span6 offset3">
	<h2>Ailments</h2>
   	<%= render "ailment_table" %><br>


    <h2>Add an Ailment</h2>	

   	<%= render "form" %>

	<%= link_to 'Back', @phr %>

	</div>
</div>