<% provide(:title, @phr.first_name) %>


<div class ="row">

<div class="span6 offset3">
  <h2>Dental Records</h2>
    <%= render "dental_table" %><br>


    <h2>Add a Dental Record</h2> 

    <%= render "form" %>

  <%= link_to 'Back', @phr %>

  </div>
</div>