<h1>Listing financial_reports</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @financial_reports.each do |financial_report| %>
      <tr>
        <td><%= link_to 'Show', financial_report %></td>
        <td><%= link_to 'Edit', edit_financial_report_path(financial_report) %></td>
        <td><%= link_to 'Destroy', financial_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financial report', new_financial_report_path %>
