<tr>
		<td><%= link_to appointment.appointment_date.strftime('%B %-d, %Y') , [appointment.phr, appointment] %></td>
		<td><%= appointment.reason %></td>
		<td><%= link_to "Edit", edit_phr_appointment_path(@phr, appointment), class: "btn btn-small btn-secondary" %></td>
		
		<td><%= link_to 'Delete', [appointment.phr, appointment], method: :delete, data: {confirm: "Are you sure you want to delete this ailment record?"}, title: appointment.reason, class: "btn btn-small btn-secondary" %></td>
</tr>