<% provide(:title, 'Edit Appointment') %>
<div class='row'>
	<%= render 'shared/phr_info' %>

	<div class="span8">
	      <h2 style="text-align: left;">Edit Appointment</h2>
	      <hr>
	      <%= form_for([@phr, @appointment]) do |f| %>
	        <%= render 'shared/error_messages', object: f.object %>
	        <div class="span6">
	          <%= render 'appointment_form', f: f %>
	        </div>
		<% end %>
	</div>	
</div>

