<% provide(:title, @phr.first_name) %>


<div class ="row">

<div class="span6 offset3">
  <h2>Appointments</h2>
    <%= render "appointment_table" %><br>


    <h2>Add an Appointment</h2> 

    <%= render "form" %>

  <%= link_to 'Back', @phr %>

  </div>
</div>