<% provide(:title, "Edit PHR") %>
<h2>Update your PHR</h2>
<hr>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@phr) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'phr_form', f: f  %>
      
      <%= f.submit "Save changes", class: "btn btn-small btn-secondary" %>
    <% end %>
  </div>
</div>