<% provide(:title, 'New PHR') %>
<h2>New Personal Health Record</h2>
<hr>
<div class="row">
    <%= form_for(@phr) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      	<div class="span6 offset3">
      		<%= render 'phr_form', f: f %>
      	
      		<%= f.submit "Create PHR", class: "btn btn-small btn-secondary" %>
      	</div>
    <% end %>
</div>
