<% provide(:title, "Fitness Records") %>
<div class ="row">
	<%= render 'shared/phr_info' %>
	<section>
		<div class="span8">
			<h2 style = "text-align: left;">Fitness Records</h2>
			<hr>
			<%= link_to "+New Record", new_phr_fitness_path, class: "btn btn-small btn-secondary" %>
			<br>
			<br>

			<% if @phr.fitnesses.where(:deleted => false).any? %>

				<table class = "table table-condensed">
					<thead>
						<tr>
						<th style = "width:50%">Height Records</th>
						<th style = "width:50%">Weight Records</th>
						</tr>
					</thead>

					<tbody>
						<%= render @fitnesses.where(:deleted => false) %>
					</tbody>

				</table>	

			<% else %>
				You have no Fitness records<br><br>
			<% end %>	
			



			<%= link_to 'Back', @phr, class: "btn btn-small btn-secondary" %>
		   	
		</div>
		
	</section>
</div>