<footer class="footer">
  <small>
    Built with
    <a href="http://rubyonrails.org/">Ruby on Rails</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact Us", contactus_path %></li>
      <li><%= link_to "Privacy", privacy_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>
